<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form enctype="multipart/form-data" method="post" action="http://127.0.0.1:9000/main/index/">
        商品名称：<input name="name"/><br/>
        商品别名: <input name="sub_title"/><br/>
        销售价格: <input name="original_price"/><br/>
        促销价格: <input name="promote_price"/><br/>
        库存量: <input name="stock"/><br/>
        仓库: <input name="cate_id"/><br/>
        <input type="submit" value="添加"/>
    </form>
</body>
</html>